<%= link_to "Create Chef", "/restaurants/#{@restaurant.id}/chefs/new" %>
<%= link_to "#{@restaurant.name} chefs listed alphabetically", "/restaurants/#{@restaurant.id}/chefs?sorted=true" %>
<%= form_with url: "/restaurants/#{@restaurant.id}/chefs", method: :get, local: true do |form| %>
  <%= form.label :age %>
  <%= form.number_field :age %>
  <%= form.submit "Sort #{@restaurant.name} Chefs who are older than *input number*" %>
  <% end %>
<h1><%= "#{@restaurant.name} Chefs"%></h1>
<% @chefs.each do |chef| %>
  <h3><%= chef.name%></h3>
  <p><%= "Age: #{chef.age}"%></p>
  <p><%= "Title: #{chef.title}"%></p>
  <p><%= "Full Time Status: #{chef.full_time}"%></p>
<% end %>