<h1>New Chef</h1>

<%= form_with url: "/restaurants/#{@restaurant.id}/chefs", method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :age %>
  <%= form.text_field :age %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <%= form.label :full_time %>
  <%= form.text_field :full_time %>
  <%= form.submit "Create Chef" %>
<% end %>