<%= link_to "Update #{@chef.name}", "/chefs/#{@chef.id}/edit" %>
<h1><%= @chef.name%></h1>
<p><%= "Age: #{@chef.age}"%></p>
<p><%= "Title: #{@chef.title}"%></p>
<p><%= "Full Time Status: #{@chef.full_time}"%></p>