<%= link_to "See our chefs", "/restaurants/#{@restaurant.id}/chefs"%>
<%= link_to "Update #{@restaurant.name}", "/restaurants/#{@restaurant.id}/edit" %>
<h1><%= @restaurant.name %></h1>

<p>City: <%= @restaurant.city %></p>
<p>Stars: <%= @restaurant.star_rating %></p>
<p>OSHA Safety Certified: <%= @restaurant.osha_safety_certified %></p>
<p>Chefs: <%= @restaurant.chefs_count%></p>
